* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #003a63;
}

header {
    background-color:#000b22;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    border-bottom: solid #031f33 1px;
}

header.scrolled {
    background-color: #003a63;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.school {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #333;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.row a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.row a:hover {
    color: #ff8c66;
}


.hero-section {
    height: 100vh;
    background-image: url(saint1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.main {
    padding: 50px;
    text-align: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 2.875rem;
    margin-bottom: 20px;
    color: white;
}

i.fa-school {
    font-size: 3rem;
    color: #ff8c66;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}

.facility1,
.facility {
    text-align: center;
    padding: 30px 0;
}

.facility h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.facility p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

.facility-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    height: 335.26px;
    width: calc(25% - 20px); /* Adjusted width and added margin to create space between boxes */
    margin: 10px;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
}

.box1 {
    background-image: url('box1.jpg');
    
}

.box2 {
    background-image: url('box2.png');
}

.box3 {
    background-image: url('box3.jpg');
}

.box4 {
    background-image: url('box4.png');
}

.box5 {
    background-image: url('box5.png');
}

.box6 {
    background-image: url('box6.jpg');
}

.box7 {
    background-image: url('box7.jpg');
}

.box8 {
    background-image: url('box8.png');
}

footer {
    padding: 30px;
    text-align: center;
    background-color: #000b22;
    color: #fff;
}

iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.copyright {
    padding-top: 20px;
    background-color: #031f33;
}